<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Our Application User</title>
  <link href="/assets/mini-default.css" rel="stylesheet">
  <link rel="icon" type="image/png" href="/assets/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="container">
    {% if flash %}
      <div class="toast" onclick="this.remove()">
        {{ flash | safe }}
      </div>
    {% endif %}
    {% block body %}{% endblock body %}
  </div>
</body>

</html>
